
<h1>단축 url</h1>
<%= stylesheet_link_tag "main" %>
<table border = 1 width = 200 class ='table'>
<tr>
    <td>제목</td>
    <td>주소</td>
    <td>긴 주소</td>
    <td>삭제</td>

</tr>
<% @posts.each do |post| %>
<tr>
    <td><%=post.title%></td>
    <td><%=post.content %></td>
    <td><%=post.content3 %></td>
    <td><a href="/del/<%=post.id%>">Delete</a></td> 
    
</tr>
<% end %>
</table>

<%= paginate @posts%>
<br>
<a href='/write'>주소쓰러가기</a><br>
<a href='/write2'> 긴주소</a>
